<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>CART STATUS</th>
      <th>PRICE</th>
      <th>TIME PURCHASE</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carts.each do |cart| %>
      <tr>
        <td><%= cart.id %></td>
        <td><%= cart.status %></td>
        <% if cart.finished? %>
          <td>$<%= cart.value %></td>
          <td><%= cart.updated_at %></td>
        <% else %>
          <td></td>
          <td></td>
        <% end %>
        <td><%= link_to 'Show', cart, :class => "btn btn-secondary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
