<table class="table table-hover">
  <thead>
    <tr>
      <th>Brand</th>
      <th>Model</th>
      <th>Description</th>
      <th>Condition</th>
      <th>Finish</th>
      <th>Title</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cart.products.each do |product| %>
      <tr>
        <td><%= product.brand %></td>
        <td><%= product.model %></td>
        <td><%= product.description %></td>
        <td><%= product.condition %></td>
        <td><%= product.finish %></td>
        <td><%= product.title %></td>
        <td>$<%= product.price %></td>
        <td><%= link_to 'Show', product, :class => "btn btn-secondary" %></td>
        <% unless @cart.finished? %>
          <td><%= link_to 'Remove', remove_carts_path(product), :class => "btn btn-secondary"%></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


<h1>Price $ <%= @cart.products.sum(&:price) %></h1>
<% unless @cart.finished? %>
 <%= link_to 'Check Out', finish_carts_path(@cart), :class => "btn btn-secondary" %>
<% end %>
