
<%= simple_form_for(@product) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-group">
    <%= f.input :brand %>
    <%= f.input :model %>
    <%= f.input :description %>
    <%= f.input :condition %>
    <%= f.input :finish %>
    <%= f.input :title %>
    <%= f.input :price %>
  </div>

  <div class="form_inputs">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>


  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
