<div class="navbar-menu">
  <div class="navbar-logo">
    <%= link_to 'HandMade - MarketPlace', root_path %>
  </div>

  <div class="navbar-content">
    <% if current_user.carts.opened.present?  %>
      Products:
      <%= current_user.carts.opened.last.products.count %>
      <%= link_to 'Finish Cart', cart_path(current_user.carts.opened.last)%>
    <% end %>
    <%= link_to 'Carts', carts_path %>
    <% if current_user %>
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Sign up', new_user_registration_path %>
      <%= link_to 'Sign in', new_user_session_path %>
    <% end %>
  </div>
</div>
